<div class="container mt-4">
  <div class="row">
    <h1>Profil {{user.tytul}}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.zdjecieUrl || '../../../assets/user.png'}}" alt="{{user.tytul}}">
        <div class="card-body">
          <div>
            <strong>Lokalizacja:</strong>
            <p>{{user.miasto}}, {{user.kraj}}</p>
          </div>
          <div>
            <strong>Wiek:</strong>
            <p>{{user.wiek}}</p>
          </div>
          <div>
            <strong>Ostatnio aktywny/a:</strong>
            <p>{{user.ostatnioAktywny | timeago}}</p>
          </div>
          <div>
            <strong>Utworzenie konta:</strong>
            <p>{{user.utworzony | date: 'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Polub</button>
            <button class="btn btn-success w-100">Wiadomość</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Informacje o {{user.tytul}}">
            <h4>Opis:</h4>
            <p>{{user.zainteresowania}}</p>
            <h4>Poszukuje:</h4>
            <p>{{user.kogoSzukasz}}</p>
          </tab>
          <tab heading="Zainteresowania">
            <h4>Wprowadzenie:</h4>
            <p>{{user.wprowadzony}}</p>
          </tab>
          <tab heading="Zdjęcia">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </tab>
          <tab heading="Wiadomości">
            <p>Wiadomości do wstawienia</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>