<div class="text-center mt-3">
  <h2>Twoje dopasowania: Znaleziono {{paginacja.caloscItems}}</h2>
</div>

<div class="container mt-3">
  <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
    <div class="form-group">
      <label for="minWiek">Wiek od</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="minWiek" 
      [(ngModel)]="userParametry.minWiek" name="minWiek">
    </div>
  
    <div class="form-group px-2">
      <label for="maxWiek">Wiek do</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="maxWiek" 
      [(ngModel)]="userParametry.maxWiek" name="maxWiek">
    </div>
  
    <div class="form-group px-2">
      <label for="plec">Pokaż: </label>
      <select class="form-control ml-1" style="width: 130px" id="plec" 
      [(ngModel)]="userParametry.plec" name="plec">
        <option *ngFor="let plec of listaPlec" [value]="plec.value">
          {{plec.display}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:10px">Filtruj</button>
    <button type="button" class="btn btn-info" (click)="resetFiltrow()" style="margin-left:10px">Reset</button>
  
    <div class="col">
      <div class="btn-group float-right">
        <button type="button" name="ostatnioByl" class="btn btn-primary" 
          [(ngModel)]="userParametry.ostatnioByl" (click)="loadUsers()" 
          btnRadio="ostatnioAktywny">Ostatnio aktywny</button>
        <button type="button" name="ostatnioByl" class="btn btn-primary" 
          [(ngModel)]="userParametry.ostatnioByl" (click)="loadUsers()"
          btnRadio="utworzony">Nowi użytkownicy</button>
      </div>
    </div>

  </form>
  <br>


  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="paginacja.caloscItems"
              [itemsPerPage]="paginacja.itemsNaStrone"
              [(ngModel)]="paginacja.domyslnaStrona"
              (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
</div>